USE [master]
GO
/****** Object:  Database [Busin_DB_Payment]    Script Date: 20.10.2025 13:24:30 ******/
CREATE DATABASE [Busin_DB_Payment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Busin_DB_Payment', FILENAME = N'C:\Users\227212\Busin_DB_Payment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Busin_DB_Payment_log', FILENAME = N'C:\Users\227212\Busin_DB_Payment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Busin_DB_Payment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Busin_DB_Payment]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 20.10.2025 13:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 20.10.2025 13:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Num] [decimal](18, 0) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20.10.2025 13:24:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Role] [varchar](50) NULL,
	[FIO] [varchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name]) VALUES (1, N'credit')
INSERT [dbo].[Category] ([ID], [Name]) VALUES (2, N'debit')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([ID], [UserID], [CategoryID], [Date], [Name], [Num], [Price]) VALUES (1, 1, 1, CAST(N'2025-10-20' AS Date), N'kazik', CAST(1 AS Decimal(18, 0)), CAST(500000 AS Decimal(18, 0)))
INSERT [dbo].[Payment] ([ID], [UserID], [CategoryID], [Date], [Name], [Num], [Price]) VALUES (2, 1, 2, CAST(N'2025-10-20' AS Date), N'diabet', CAST(2 AS Decimal(18, 0)), CAST(1488000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Login], [Password], [Role], [FIO], [Photo]) VALUES (1, N'Torik', N'3A66449A43CFFE8B73C2D501F8014E9C54AFCFFB', N'User', N'Sad sadovich', NULL)
INSERT [dbo].[User] ([ID], [Login], [Password], [Role], [FIO], [Photo]) VALUES (2, N'Porin', N'B1A26C15DA3E74A434F8E62B0E264EA59662E3C8', N'Admin', N'Slavin Anton Gero', N'lip.jpg')
INSERT [dbo].[User] ([ID], [Login], [Password], [Role], [FIO], [Photo]) VALUES (4, N'Newtest2', N'AE427490EC79768C0FB3AB259433FF1C019772CA', N'Admin', N'test', NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Category]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_User]
GO
USE [master]
GO
